* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    font-family: 'Open Sans',sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    height: 100vh;
}


footer {
    height: 8vh;
    width: 100%;
    background: #ddaaff;
    margin-top: auto;
}
nav {
   
    height: 8vh;
    padding: 16px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;


    background: #fff;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(227,227,224,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(227,227,224,1);
    box-shadow: 0px 3px 2px 0px rgba(227,227,224,1);

    position: fixed;
    z-index: 33;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #111;
}
.img-container {
    position: relative;
    overflow: hidden;
  height: 375px;
}
img {
    width: 70%;
    height: 70%;
    transition: all 0.3s ease;
}
.categories-list {
    width: 30%;
}

.icons-list {
    width: 20%;
}

.logo {
    font-weight: 800;
    font-style: italic;
}

.sign-in {
    background: rgb(233, 233, 86);
    background: #ddaaff;
    height: 25px;
    width: 50px;
    padding: 5px 10px;
    border-radius: 20px;
}

.container {
    width: 85%;
    margin: auto;
   /* height: 92vh; */
}

#items-section .container {
   /* background: blueviolet; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#items-section {
    margin-top: 2rem;
}

.item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  /*  align-items: center; */
   /* background: #ddaaff; */
    height: 62vh;
    width: 300px;
    margin: 16px;
    padding: 16px;

}

.item-info {
    margin-top: 16px;
}

.heart-div {
    display: flex;
    justify-content: space-between;
}

.new {
    font-weight: 600;
}

.icons-list a {
    position: relative;
    padding: 0.5rem;
}
.notif-ball-hearts, .notif-ball-cart {
    background: #ddaaff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    font-size: 12px;
}
.img-container img {
    width: 100%;
    height: 100%;
}


.active {
    border-bottom: 5px solid #ddaaff;
}

.items {
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.show-items {
    z-index: 20;
    opacity: 1;
    top: 10vh;
   
}

.item-card {
    cursor: pointer;
}

.item-card:hover img {
transform: scale(1.2);
}

.burger {
    cursor: pointer;
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #ddaaff;
    margin: 5px;
}

.add-to-cart {
    z-index: 3;
    background: rgba(1,1,1,0.8);
    color: #fff;
    width: 160px;
    text-align: center;
    padding: 0.6rem 1rem;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.item-card:hover .add-to-cart {
    opacity: 1;
}
.shopping-list {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 555;
    top: 0;
    right: 0;
    padding: 1.5rem;
    background: #fff;
    display: flex;
    flex-direction: column;
  
    transform: translateX(100%);
    transition: all 0.3s ease;
}
.cart-items {
    display: flex;
    flex-direction: column;  
}
.opened-shopping-list {
    transform: translateX(0%);
}

.cart-item-card {
    background: #fff;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
 
    margin: 0.6rem 1rem;
    height: 100px;
}
.cart-item-card img {

width: 75px;
height: 75px;
}

.close-btn {
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(1,1,1,0.6);
    z-index: 444;
    overflow: hidden;
}

.fa-trash {
    cursor: pointer;
}

.sale {
    color: rgb(226, 60, 60);
    font-weight: bolder;
}
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .burger {
        display: block;
        cursor: pointer;
    }

    .categories-list {
        background: #ddaaff;   
        flex-direction: column;
        position: fixed;
        top: 8vh;
        height: 100%;
        left: 0;
        width: 100%;
    
        transform: translateX(-100%);
        transition: all 0.3s ease; /* note: it's imp to put it here instead of in the .opened class 
        otherwise it will close abruptly */
    }

 

   .categories-list li {
       opacity: 0;
      
   }
    .opened {
        transform: translateX(0%);
    }

    .bar-1, .bar-2, .bar-3 {
        transition: all 0.3s ease;
    }
  .clicked .bar-1 {
  transform: rotate(-45deg)translate(-5px,6px);
  }
  .clicked .bar-2 {
    opacity: 0;
    }
    .clicked .bar-3 {
        transform: rotate(45deg)translate(-5px,-6px);
        }
    @keyframes fade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }  
.sign-in {
    display: none;
}
   
}